@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(106, 6, 6), transparent, #031b29);
    clip-path: circle(30% at right 25%);
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #141b29, rgb(74, 12, 74));
    clip-path: circle(30% at 10% 70%);
}

.container {
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card {
    position: relative;
    width: 320px;
    height: 420px;
    margin: 1%;
    box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.01);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    cursor: pointer;
}

.container .card .content {
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card img{
    width: 60%;
    text-align: center;
    filter: invert(90%);
    margin: 5em;
}

.container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2 {
    position: absolute;
    top: -120px;
    right: -35px;
    font-size: 8em;
    color: rgba(6, 241, 229, 0.3);
    pointer-events: none;
}

.container .card .content h3 {
    margin: 10px;
    font-size: 3em;
    color: #94e2cd;
    z-index: 1;
}