@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.contents {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 0;
  height: 0.3em;
  flex-direction: column-reverse;
}

/* Track */
::-webkit-scrollbar-track {
  background: #363535;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}